@charset "utf-8";
/* CSS Document */

@import url("reset.css");

.top_wrapper{
	min-width:1000px;
	behavior: expression(this.style.width=(document.documentElement.offsetWidth<1000)?"1000px":"100%");
	background-image:url(../image/zerosms_02.jpg);
	height:49px;
	}

.top{
	width:300px;
	height:25px;
	margin-left:800px;
	margin-top:8px;}
	
.top ul{}
.top li{}
.top li a{
	display:block;
	float:left;
	color:#333;
	font-size:13px;
	text-decoration:none;}
.top li a:hover{
	text-decoration:underline;}	

.toplink_line{
	display:block;
	float:left;
	width:3px;
	height:15px;
	background-color:#999;
	margin-left:8px;
	margin-right:8px;
	}	


	
.middle_wrapper{
	min-width:1000px;
	behavior: expression(this.style.width=(document.documentElement.offsetWidth<1000)?"1000px":"100%");
	height:367px;
	background-repeat:repeat-x;
	background-image:url(../image/zerosms_08.jpg);}
	
.middle{
	width:1000px;
	height:367px;
	margin:0 auto;
	background-image:url(../image/zerosms_05.jpg);}
	

.go_wrapper{
	width:750px;
	margin:0 auto;}
	
	
.go_wrapper h1{
	font-size:30px;
	font-family:"Lucida Console", Monaco, monospace;
	color:#C60;
	font-weight:bold;
	padding-bottom:15px;}
	
.go_wrapper h6{
	font-size:15px;
	color:#666;
	font-weight:100;
	line-height:25px;
	}

.go_wrapper h5{
	font-size:15px;
	color:#666;
	font-weight:100;
	line-height:25px;
	}

.go_wrapper h4{
	font-size:15px;
	color:#666;
	font-weight:100;
	line-height:25px;
	}
	
	
	
.go_wrapper table{
	margin:0 auto;}
	
	
.frame{border:3px solid #999; }
.frame td {
	border:1px solid #CCC;
	font-size:15px;
	color:#333;
	font-family:"Lucida Console", Monaco, monospace;}
.frame tr {
	border:1px solid #CCC; 
	font-size:15px;
	color:#333;
}
.frame th {font-size:16px;
	color:#C60;}
	
	
	
.footer{
	min-width:1000px;
	height:70px;
	background-color:#333;
	behavior: expression(this.style.width=(document.documentElement.offsetWidth<1000)?"1000px":"100%");
	padding:10px;
	}

.footer a{text-align:center;
	color:#FFC;
	font-size:13px;
	font-weight:100;
	line-height:23px;

	}	

.footer h6{
	text-align:center;
	color:#FFF;
	font-size:13px;
	font-weight:100;
	line-height:23px;}
	
	
	
	
	