{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}



{% include '_partial/header_inside.twig' %}





<div class="project_bg">
  <div class="project_wrapper">
      <div class="menu">
      <ul>
        <li><a href="project.html">Project</a></li>
        <li><a href="web.html">Web Design</a></li>
        <li class="this">Graphic</li>
      </ul>

    </div>

    <div class="content">

        <!--link-->
        <div class="content_link">
          <div class="magnifier"><a href="img/works/netline/netline_17.jpg" rel="prettyPhoto[CI design]" >
            <img src="img/magnifier.png" alt=""></a>
          </div>
          <div class="bgbg"></div>
          <div class="img_show"><img src="img/Sworks/netline/smallnetline_17.jpg" alt="" ></div>
        </div>
        <!---->
        <!--link-->
        <div class="content_link">
          <div class="magnifier"><a href="img/works/netline/netline_18.jpg" rel="prettyPhoto[CI design]" title="Graphic">
            <img src="img/magnifier.png" alt=""></a>
          </div>
          <div class="bgbg"></div>
          <div class="img_show"><img src="img/Sworks/netline/smallnetline_18.jpg" alt="" ></div>
        </div>
        <!---->
        <!--link-->
        <div class="content_link">
          <div class="magnifier"><a href="img/works/netline/netline_04.jpg" rel="prettyPhoto[CI design]" title="Graphic">
            <img src="img/magnifier.png" alt=""></a>
          </div>
          <div class="bgbg"></div>
          <div class="img_show"><img src="img/Sworks/netline/smallnetline_04.jpg" alt="" ></div>
        </div>
        <!---->
         <!--link-->
        <div class="content_link">
          <div class="magnifier"><a href="img/works/netline/netline_13.jpg" rel="prettyPhoto[CI design]" title="Graphic">
            <img src="img/magnifier.png" alt=""></a>
          </div>
          <div class="bgbg"></div>
          <div class="img_show"><img src="img/Sworks/netline/smallnetline_13.jpg" alt="" ></div>
        </div>
        <!---->
        <!--link-->
        <div class="content_link">
          <div class="magnifier"><a href="img/works/netline/netline_05.jpg" rel="prettyPhoto[CI design]" title="Graphic">
            <img src="img/magnifier.png" alt=""></a>
          </div>
          <div class="bgbg"></div>
          <div class="img_show"><img src="img/Sworks/netline/smallnetline_05.jpg" alt="" ></div>
        </div>
        <!---->

        <!--link-->
        <div class="content_link">
          <div class="magnifier"><a href="img/works/layout/layout_019.jpg" rel="prettyPhoto[CI design]" title="Graphic">
            <img src="img/magnifier.png" alt=""></a>
          </div>
          <div class="bgbg"></div>
          <div class="img_show"><img src="img/Sworks/layout/smalllayout_019.jpg" alt="" ></div>
        </div>
        <!---->


        <!--link-->
        <div class="content_link">
          <div class="magnifier"><a href="img/works/layout/layout_021.jpg" rel="prettyPhoto[CI design]" title="Graphic">
            <img src="img/magnifier.png" alt=""></a>
          </div>
          <div class="bgbg"></div>
          <div class="img_show"><img src="img/Sworks/layout/smalllayout_021.jpg" alt="" ></div>
        </div>
        <!---->

    <!--link-->
        <div class="content_link">
          <div class="magnifier"><a href="img/works/layout/layout_085.jpg" rel="prettyPhoto[CI design]" title="Graphic">
            <img src="img/magnifier.png" alt=""></a>
          </div>
          <div class="bgbg"></div>
          <div class="img_show"><img src="img/Sworks/layout/smalllayout_085.jpg" alt="" ></div>
        </div>
        <!---->
    <!--link-->
        <div class="content_link">
          <div class="magnifier"><a href="img/works/layout/layout_086.jpg" rel="prettyPhoto[CI design]" title="Graphic">
            <img src="img/magnifier.png" alt=""></a>
          </div>
          <div class="bgbg"></div>
          <div class="img_show"><img src="img/Sworks/layout/smalllayout_086.jpg" alt="" ></div>
        </div>
        <!---->
    <!--link-->
        <div class="content_link">
          <div class="magnifier"><a href="img/works/layout/layout_087.jpg" rel="prettyPhoto[CI design]" title="Graphic">
            <img src="img/magnifier.png" alt=""></a>
          </div>
          <div class="bgbg"></div>
          <div class="img_show"><img src="img/Sworks/layout/smalllayout_087.jpg" alt="" ></div>
        </div>
        <!---->
    <!--link-->
        <div class="content_link">
          <div class="magnifier"><a href="img/works/layout/layout_088.jpg" rel="prettyPhoto[CI design]" title="Graphic">
            <img src="img/magnifier.png" alt=""></a>
          </div>
          <div class="bgbg"></div>
          <div class="img_show"><img src="img/Sworks/layout/smalllayout_088.jpg" alt="" ></div>
        </div>
        <!---->
    <!--link-->
        <div class="content_link">
          <div class="magnifier"><a href="img/works/layout/layout_089.jpg" rel="prettyPhoto[CI design]" title="Graphic">
            <img src="img/magnifier.png" alt=""></a>
          </div>
          <div class="bgbg"></div>
          <div class="img_show"><img src="img/Sworks/layout/smalllayout_089.jpg" alt="" ></div>
        </div>
        <!---->
    <!--link-->
        <div class="content_link">
          <div class="magnifier"><a href="img/works/dm/DM_004.jpg" rel="prettyPhoto[CI design]" title="Graphic">
            <img src="img/magnifier.png" alt=""></a>
          </div>
          <div class="bgbg"></div>
          <div class="img_show"><img src="img/Sworks/dm/smallDM_004.jpg" alt="" ></div>
        </div>
        <!---->

    <!--link-->
        <div class="content_link">
          <div class="magnifier"><a href="img/works/dm/DM_002.jpg" rel="prettyPhoto[CI design]" title="Graphic">
            <img src="img/magnifier.png" alt=""></a>
          </div>
          <div class="bgbg"></div>
          <div class="img_show"><img src="img/Sworks/dm/smallDM_002.jpg" alt="" ></div>
        </div>
        <!---->

    <!--link-->
        <div class="content_link">
          <div class="magnifier"><a href="img/works/dm/DM_003.jpg" rel="prettyPhoto[CI design]" title="Graphic">
            <img src="img/magnifier.png" alt=""></a>
          </div>
          <div class="bgbg"></div>
          <div class="img_show"><img src="img/Sworks/dm/smallDM_003.jpg" alt="" ></div>
        </div>
        <!---->



        <!--link-->
        <div class="content_link">
          <div class="magnifier"><a href="img/works/layout/layout_013.jpg" rel="prettyPhoto[CI design]" title="EGraphic">
            <img src="img/magnifier.png" alt=""></a>
          </div>
          <div class="bgbg"></div>
          <div class="img_show"><img src="img/Sworks/layout/smalllayout_013.jpg" alt="" ></div>
        </div>
        <!---->


        <!--link-->
        <div class="content_link">
          <div class="magnifier"><a href="img/works/layout/layout_014.jpg" rel="prettyPhoto[CI design]" title="Graphic">
            <img src="img/magnifier.png" alt=""></a>
          </div>
          <div class="bgbg"></div>
          <div class="img_show"><img src="img/Sworks/layout/smalllayout_014.jpg" alt="" ></div>
        </div>
        <!---->

        <!--link-->
        <div class="content_link">
          <div class="magnifier"><a href="img/works/layout/layout_015.jpg" rel="prettyPhoto[CI design]" title="Graphic">
            <img src="img/magnifier.png" alt=""></a>
          </div>
          <div class="bgbg"></div>
          <div class="img_show"><img src="img/Sworks/layout/smalllayout_015.jpg" alt="" ></div>
        </div>
        <!---->
      <!--link-->
        <div class="content_link">
          <div class="magnifier"><a href="img/works/layout/layout_042.jpg" rel="prettyPhoto[CI design]" title="Graphic">
            <img src="img/magnifier.png" alt=""></a>
          </div>
          <div class="bgbg"></div>
          <div class="img_show"><img src="img/Sworks/layout/smalllayout_042.jpg" alt="" ></div>
        </div>
        <!---->

      <!--link-->
        <div class="content_link">
          <div class="magnifier"><a href="img/works/layout/layout_043.jpg" rel="prettyPhoto[CI design]" title="Graphic">
            <img src="img/magnifier.png" alt=""></a>
          </div>
          <div class="bgbg"></div>
          <div class="img_show"><img src="img/Sworks/layout/smalllayout_043.jpg" alt="" ></div>
        </div>
        <!---->
      <!--link-->
        <div class="content_link">
          <div class="magnifier"><a href="img/works/layout/layout_044.jpg" rel="prettyPhoto[CI design]" title="Graphic">
            <img src="img/magnifier.png" alt=""></a>
          </div>
          <div class="bgbg"></div>
          <div class="img_show"><img src="img/Sworks/layout/smalllayout_044.jpg" alt="" ></div>
        </div>
        <!---->

      <!--link-->
        <div class="content_link">
          <div class="magnifier"><a href="img/works/layout/layout_052.jpg" rel="prettyPhoto[CI design]" title="Graphic">
            <img src="img/magnifier.png" alt=""></a>
          </div>
          <div class="bgbg"></div>
          <div class="img_show"><img src="img/Sworks/layout/smalllayout_052.jpg" alt="" ></div>
        </div>
        <!---->

      <!--link-->
        <div class="content_link">
          <div class="magnifier"><a href="img/works/layout/layout_053.jpg" rel="prettyPhoto[CI design]" title="Graphic">
            <img src="img/magnifier.png" alt=""></a>
          </div>
          <div class="bgbg"></div>
          <div class="img_show"><img src="img/Sworks/layout/smalllayout_053.jpg" alt="" ></div>
        </div>
        <!---->

            <!--link-->
        <div class="content_link">
          <div class="magnifier"><a href="img/works/layout/layout_048.jpg" rel="prettyPhoto[CI design]" title="Graphic">
            <img src="img/magnifier.png" alt=""></a>
          </div>
          <div class="bgbg"></div>
          <div class="img_show"><img src="img/Sworks/layout/smalllayout_048.jpg" alt="" ></div>
        </div>
        <!---->

         <!--link-->
        <div class="content_link">
          <div class="magnifier"><a href="img/works/layout/layout_066.jpg" rel="prettyPhoto[CI design]" title="Graphic">
            <img src="img/magnifier.png" alt=""></a>
          </div>
          <div class="bgbg"></div>
          <div class="img_show"><img src="img/Sworks/layout/smalllayout_066.jpg" alt="" ></div>
        </div>
        <!---->

         <!--link-->
        <div class="content_link">
          <div class="magnifier"><a href="img/works/layout/layout_040.jpg" rel="prettyPhoto[CI design]" title="Graphic">
            <img src="img/magnifier.png" alt=""></a>
          </div>
          <div class="bgbg"></div>
          <div class="img_show"><img src="img/Sworks/layout/smalllayout_040.jpg" alt="" ></div>
        </div>
        <!---->


         <!--link-->
        <div class="content_link">
          <div class="magnifier"><a href="img/works/layout/layout_041.jpg" rel="prettyPhoto[CI design]" title="Graphic">
            <img src="img/magnifier.png" alt=""></a>
          </div>
          <div class="bgbg"></div>
          <div class="img_show"><img src="img/Sworks/layout/smalllayout_041.jpg" alt="" ></div>
        </div>
        <!---->


         <!--link-->
        <div class="content_link">
          <div class="magnifier"><a href="img/works/layout/layout_063.jpg" rel="prettyPhoto[CI design]" title="Graphic">
            <img src="img/magnifier.png" alt=""></a>
          </div>
          <div class="bgbg"></div>
          <div class="img_show"><img src="img/Sworks/layout/smalllayout_063.jpg" alt="" ></div>
        </div>
        <!---->












      </div>

    </div>
    <div class="clear"></div>


  </div>

</div>








{% endblock %}x