{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}



<div class="slider_wrapper">

    <div class="slider">

        <div class="slider_img_pc">
        </div>

        <div class="slider_img_tablet">
          <img src="img/slider_mobile.jpg" alt="">
        </div>



      <div class="top_block">
        <img src="img/logo_home.png" alt="">
        <h6>SuperFrog Design</h6>
        <p>Boundless enthusiasm and creative professionals in the front-end design</p>

        <div class="clear"></div>
      </div>

   </div>
</div>

<div class="clear" style="height:80px"></div>

<!--section_a-->
<div class="wrapper">
    <div class="section_a">
    <!--project-->
    <div class="item">
      <a href="project.html"><img src="img/20.png" alt=""></a>
      <h6><a href="project.html">Project</a></h6>
      <p>RWD  is a hot topic in front-end development. I used grid system of SUSSY that writes in SASS and COMPASS structure.Which also includes encoding and apply jQuery</p>
    </div>

    <!--web-->
    <div class="item">
      <a href="web.html"><img src="img/11.png" alt=""></a>
      <h6><a href="web.html">Web</a></h6>
      <p>Collected works of web design. Responsible for writing the front end structure and web UI. Implanted the interaction effect. Delivered to RD for back-end development.
      </p>
    </div>

    <!--graphic-->
    <div class="item">
      <a href="graphic.html"> <img src="img/10.png" alt=""></a>
    <h6><a href="graphic.html">Graphic</a></h6>
      <p>I was responsible for the graphic design job in the publishing industry. Collected many publishing and layout design by using photoshop, Illustrator, Indeign. </p>
    </div>


    <div class="clear"></div>

  </div>
</div>
<div class="clear" style="height:70px"></div>


</div>

<!--summary-->

<div class="summary_wrapper">
    <div class="summary">
    <div class="summary_box">
    <h5>SUMMARY</h5>
    <h6>Skill and Ability</h6>
    <p>Web software: Dreamwaver, Flash, Sublime</p>
    <p>Web coding: HTML5, CSS3, SASS, JQuery, JSP, XML, Ajax</p>
    <p>Framework: Bootstrap, Foundation, Sussy, Compass
    <p>Graphic software: Photoshop, Illustrator, Indesign </p>
    <p>Others: Printing concept, Photography, Art Theory, Aesthetics </p>
  </div>

      <div class="summary_box">
      <h6>Specialties</h6>
    <p>Familiar with Web development, web architecture and web industry standards.</p>
    <p>Highly specialized in HTML5, CSS3, jQuery structure.</p>
    <p>Committed to research and development of new dynamic interactions in jQuery and CSS3.</p>
    <p>Familiar with using AJAX JS library.</p>
    <p>Experience in resolving cross-platform layout issues and compatibility.</p>
    <p>Good knowledge of device-portability techniques and accessibility.</p>
    <p>Specializes in writing for mobile applications.</p>
    <p>Familiar with SASS, Compass compilation.</p>
    <p>Understanding and expertise the principles of Responsible web design.</p>
    <p>Expert in grid system of page structure(Bootstrap, foundation, Sussy)</p>

    <p>With good design skills with related software operation.(Photoshop, Illustrator)</p>
    <p>Having good organizational skills and logical analysis on the process in the visual design.</p>
    <p>Excellent UI design, icon, image, layout design capability.</p>
    <p>APP Interface design experience with Mobile devices. </p>
    <p>Master any design style and complete execution. </p>
    <p>Possess aesthetics, art concept, design theory of knowledge.</p>
    </div>




    <div class="clear"></div>
</div>

</div>

<div class="bottom_img">
  <div class="good">
    <img src="img/q01.png" alt="">
  </div>
</div>

<div class="footer_wrapper">
<div class="clear" style="height:20px"></div>








{% endblock %}x