{# index.twig #}
{% extends "/_template/layout.twig" %}
{% block page %}


{% include '_partial/header_inside.twig' %}



<div class="project_bg">
  <div class="project_wrapper">
      <div class="menu">
      <ul>
        <li class="this">Project</a></li>
        <li><a href="web.html">Web Design</a></li>
        <li><a href="graphic.html">Graphic</a></li>
      </ul>
    </div>











    <div class="cool_project">

      <!--link1-->
        <div class="cool_link">
          <div class="magnifier"><a href="http://www.cyberlink.com/stat/newhomepage/index/index.jsp" target="_blank"><img src="img/magnifier.png" alt=""></a></div>
          <div class="bgbg">123</div>
          <div class="img_show"><img src="img/web/project_01.jpg" alt="" ></div>
        </div>

        <div class="description">
          <h6>CyberLink new homepage RWD layout</h6>
          <p>I executed Homepage revision project.
            Homepage have been written RWD style.</p>
        </div>




  </div>
</div>


  <div class="clear"></div>
  </div>

</div>




<div class="footer_wrapper">
<div class="clear" style="height:20px"></div>







{% endblock %}x