html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

body {
  -ms-overflow-x: hidden;
  overflow-x: hidden;
  font-family: "Segoe UI";
}

ol, ul {
  list-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: yellow;
  color: black;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: sans-serif;
  line-height: 1;
  font-size: 16px;
  color: #292929;
}

a {
  text-decoration: none;
}

* html {
  font-size: 100%;
}

html {
  font-size: 16px;
  line-height: 1.5em;
}

/*==[header]== */
.clear {
  clear: both;
}

.topitem {
  width: 100%;
  height: 28px;
  background-color: black;
}

@media (min-width: 851px) {
  .icon_wrapper {
    max-width: 1020px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .icon_wrapper:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 850px) {
  .icon_wrapper {
    max-width: 676px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .icon_wrapper:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (max-width: 550px) {
  .icon_wrapper {
    max-width: 504px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    display: none;
  }
  .icon_wrapper:after {
    content: "";
    display: table;
    clear: both;
  }
}
.icon_wrapper .person_name, .icon_wrapper .person_icon, .icon_wrapper .shopping_icon, .icon_wrapper .language, .icon_wrapper .search {
  height: 28px;
  line-height: 28px;
  float: right;
  margin-right: 20px;
  color: white;
  font-size: 13px;
}

.shopping_icon {
  position: relative;
}

.shopcount {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: #b81a35;
  color: white;
  text-align: center;
  line-height: 20px;
  font-size: 13px;
  top: 3px;
  left: 17px;
}

.header_wrapper {
  width: 100%;
  background-color: white;
  position: absolute;
  z-index: 999;
  opacity: 0.8;
}

.header {
  height: 70px;
}
@media (max-width: 550px) {
  .header {
    max-width: 504px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  .header .logo {
    position: absolute;
    top: 18px;
    left: 40%;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header .nav {
    display: none;
  }
  .header .search_inmenu {
    display: none;
  }
}
@media (min-width: 551px) and (max-width: 850px) {
  .header {
    max-width: 676px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  .header .logo {
    position: absolute;
    top: 18px;
    left: 50px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header .nav {
    display: none;
  }
  .header .search_inmenu {
    display: none;
  }
}
@media (min-width: 851px) {
  .header {
    max-width: 1020px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  .header .logo {
    position: absolute;
    top: 18px;
    left: 30px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
  .header .nav {
    position: absolute;
    width: 768px;
    height: 70px;
    left: 200px;
  }
  .header .nav ul li a {
    display: block;
    height: 70px;
    line-height: 70px;
    float: left;
    margin-left: 10px;
    font-size: 18px;
    color: #555555;
    font-family: "Open Sans";
    padding: 0 10px;
  }
  .header .nav ul li a:hover {
    color: #111111;
    background-color: #b81a35;
  }
  .header .search_inmenu {
    width: 200px;
    height: 30px;
    position: absolute;
    left: 730px;
    top: 20px;
  }
}

#search {
  width: 160px;
  padding: 10px;
  float: left;
  background: url(../img/Search004.png) no-repeat;
}

#s {
  width: 145px;
  height: 20px;
  margin-left: -3px;
  margin-top: -3px;
  float: left;
  border: none;
  background: none;
  color: #888888;
  border-bottom: 1px solid #999999;
}

#r {
  width: 25px;
  height: 25px;
  margin-top: -5px;
  float: right;
  cursor: pointer;
  border: none;
  background: none;
}

/*==[dropdown]== */
.dropdown {
  position: absolute;
  width: 100%;
  height: 0px;
  background-color: black;
  z-index: 500;
  opacity: 0.9;
  overflow: hidden;
  top: 98px;
}

.menulist {
  width: 800px;
  margin: 0 auto;
}

.list_a {
  width: 150px;
  font-size: 13px;
  color: white;
  margin-top: 40px;
  float: left;
  margin-right: 50px;
}

/*===dropdown/login=== */
.login, .menu_search, .menu_language {
  width: 100%;
  background-color: black;
  height: 0px;
  opacity: 0.93;
  position: absolute;
  z-index: 200;
  top: 98px;
  overflow: hidden;
}

@media (max-width: 550px) {
  .login_content {
    max-width: 504px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .login_content:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 850px) {
  .login_content {
    max-width: 676px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .login_content:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 851px) {
  .login_content {
    max-width: 1020px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    z-index: 200;
    top: 501px;
    opacity: 1;
  }
  .login_content:after {
    content: "";
    display: table;
    clear: both;
  }
  .login_content .login_a a {
    color: white;
    text-decoration: underline;
  }
}
@media (min-width: 851px) and (min-width: 851px) {
  .login_content .login_a {
    max-width: 1020px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 32.54902%;
    float: left;
    margin-right: 1.17647%;
  }
  .login_content .login_a:after {
    content: "";
    display: table;
    clear: both;
  }
  .login_content .login_a:nth-child(3n) {
    float: right;
    margin-right: 0;
  }
}
.login_content h6 {
  font-size: 18px;
  color: white;
  font-weight: bold;
}
.login_content p {
  font-size: 14px;
  line-height: 23px;
  color: white;
}

.loginlink a {
  display: block;
  background-color: orange;
  float: left;
  color: black !important;
  line-height: 35px;
  padding: 5px 30px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-decoration: none !important;
}

/*==[language]== */
@media (max-width: 550px) {
  .language_content {
    max-width: 504px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .language_content:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 850px) {
  .language_content {
    max-width: 676px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .language_content:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 851px) {
  .language_content {
    max-width: 1020px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    z-index: 200;
    top: 501px;
    opacity: 1;
  }
  .language_content:after {
    content: "";
    display: table;
    clear: both;
  }
}

.language_go p {
  font-size: 14px;
  line-height: 23px;
  color: white;
}

/*==[login_input]== */
#login_search {
  width: 100%;
}

#login_email {
  width: 93%;
  height: 25px;
  padding-left: 15px;
  border: none;
  background: none;
  color: #999999;
  margin-bottom: 10px;
  border: 1px solid white;
}

#login_psw {
  width: 93%;
  height: 25px;
  padding-left: 15px;
  border: none;
  background: none;
  color: #999999;
  margin-bottom: 10px;
  border: 1px solid white;
}

#login_email {
  width: 93%;
  height: 25px;
  padding-left: 15px;
  border: none;
  background: none;
  color: #999999;
  margin-bottom: 10px;
  border: 1px solid white;
}

#m_search {
  width: 500px;
  padding: 10px;
  background: url(../img/icon_4.png) no-repeat;
  background-position: 460px 9px;
}

#search_input {
  width: 93%;
  height: 25px;
  padding-left: 15px;
  border: none;
  background: none;
  color: #999999;
  margin-bottom: 10px;
  border-bottom: 1px solid white;
}

@media (max-width: 550px) {
  .search_content {
    max-width: 504px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .search_content:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 850px) {
  .search_content {
    max-width: 676px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .search_content:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 851px) {
  .search_content {
    max-width: 1020px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .search_content:after {
    content: "";
    display: table;
    clear: both;
  }
}

.search_go {
  margin-top: 20px;
}
@media (max-width: 550px) {
  .search_go {
    max-width: 504px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .search_go:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 850px) {
  .search_go {
    max-width: 676px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .search_go:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 851px) {
  .search_go {
    max-width: 1020px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 49.41176%;
    float: left;
    margin-right: 1.17647%;
    margin-right: -100%;
    margin-left: 25.29412%;
  }
  .search_go:after {
    content: "";
    display: table;
    clear: both;
  }
}

/*==[wrapper]== */
@media (max-width: 550px) {
  .wrapper {
    max-width: 504px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .wrapper:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 850px) {
  .wrapper {
    max-width: 676px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .wrapper:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 851px) {
  .wrapper {
    max-width: 1020px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .wrapper:after {
    content: "";
    display: table;
    clear: both;
  }
}

/*==[slider]== */
.slider_wrapper {
  width: 100%;
  background-color: #555555;
  overflow-x: hidden;
}

.slider {
  position: relative;
}
@media (max-width: 550px) {
  .slider {
    max-width: 504px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .slider:after {
    content: "";
    display: table;
    clear: both;
  }
  .slider .top_block {
    padding: 20px;
    background-color: lightslategrey;
  }
  .slider .slider_img_pc {
    display: none;
  }
  .slider .slider_img_tablet {
    display: block;
  }
}
.slider .slide_dot {
  width: 190px;
  height: 30px;
  z-index: 200;
  margin: 0 auto;
  margin-top: 15px;
}
.slider .slide_dot ul li {
  display: block;
  float: left;
  height: 15px;
  width: 15px;
  background-color: white;
  float: left;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  border-radius: 100%;
  opacity: 0.6;
  text-indent: -9999px;
}
.slider .slide_dot ul li:hover {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0.9;
}
.slider .slider_on {
  display: block;
  float: left;
  height: 17px !important;
  width: 17px !important;
  background-color: white !important;
  float: left;
  margin-right: 20px;
  text-align: center;
  border-radius: 100%;
  opacity: 1 !important;
}
@media (min-width: 551px) and (max-width: 850px) {
  .slider {
    max-width: 676px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .slider:after {
    content: "";
    display: table;
    clear: both;
  }
  .slider .top_block {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    position: absolute;
    width: 380px;
    padding: 20px;
    background-color: lightslategrey;
    left: 2%;
    top: 38%;
  }
  .slider .slider_img_pc {
    display: none;
  }
  .slider .slider_img_tablet {
    display: block;
  }
  .slider .slide_dot {
    position: absolute;
    width: 250px;
    height: 30px;
    bottom: 3%;
    left: 40%;
    z-index: 200;
  }
  .slider .slide_dot ul li {
    display: block;
    float: left;
    height: 15px;
    width: 15px;
    background-color: white;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    border-radius: 100%;
    opacity: 0.6;
    text-indent: -9999px;
  }
  .slider .slide_dot ul li:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0.9;
  }
  .slider .slider_on {
    display: block;
    float: left;
    height: 17px !important;
    width: 17px !important;
    background-color: white !important;
    float: left;
    margin-right: 20px;
    text-align: center;
    border-radius: 100%;
    opacity: 1 !important;
  }
}
@media (min-width: 851px) {
  .slider {
    max-width: 1020px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .slider:after {
    content: "";
    display: table;
    clear: both;
  }
  .slider .top_block {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    width: 24.11765%;
    float: left;
    margin-right: 1.17647%;
    position: absolute;
    width: 380px;
    padding: 20px;
    background-image: url("../img/block_bg.png");
    right: 5%;
    top: 38%;
  }
  .slider .slider_img_pc {
    display: block;
    background: url("../img/slider_1600_1.jpg");
    width: 1662px;
    height: 500px;
    margin-left: -319px;
    overflow-x: hidden;
  }
  .slider .slider_img_tablet {
    display: none;
  }
  .slider .slide_dot {
    position: absolute;
    width: 250px;
    height: 30px;
    bottom: 2%;
    left: 45%;
    z-index: 100;
  }
  .slider .slide_dot ul li {
    display: block;
    float: left;
    height: 15px;
    width: 15px;
    background-color: white;
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 100%;
    opacity: 0.8;
    cursor: pointer;
    text-indent: -9999px;
  }
  .slider .slide_dot ul li:hover {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 1;
  }
  .slider .slider_on {
    display: block;
    float: left;
    height: 17px !important;
    width: 17px !important;
    background-color: white !important;
    float: left;
    margin-right: 20px;
    text-align: center;
    border-radius: 100%;
    opacity: 1 !important;
    cursor: none;
  }
}

.top_block h6 {
  color: white;
  font-size: 40px;
  margin-bottom: 20px;
}

.top_block p {
  color: white;
  font-size: 18px;
  line-height: 19px;
  margin-bottom: 18px;
}

.top_block a {
  display: block;
  float: left;
  height: 35px;
  line-height: 35px;
  padding: 0 20px;
  border-radius: 4px;
  margin-right: 10px;
}

.l_link {
  color: black;
  background-color: #ff9e2b;
}

.d_link {
  color: black;
  background-color: #775588;
}

.t_link {
  color: white;
  background-color: #994466;
}

/*==[spotlight]== */
.spotlight {
  color: #b81a35;
  margin-bottom: 1.5em;
}
@media (max-width: 550px) {
  .spotlight {
    max-width: 504px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: left;
    margin-right: 2.38095%;
    margin-bottom: 0.75em;
  }
  .spotlight:after {
    content: "";
    display: table;
    clear: both;
  }
  .spotlight .soptlight_item_1 {
    width: 100%;
    float: left;
    margin-right: 2.38095%;
    margin-bottom: 0.75em;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .spotlight .soptlight_item_2 {
    width: 100%;
    float: left;
    margin-right: 2.38095%;
    margin-bottom: 0.75em;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.spotlight h3 {
  padding-left: 20px;
  padding-bottom: 20px;
  font-weight: 300;
}
@media (min-width: 551px) and (max-width: 850px) {
  .spotlight {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    width: 100%;
    float: left;
    margin-right: 1.77515%;
    margin-bottom: 0.75em;
  }
  .spotlight .soptlight_item_1 {
    width: 49.11243%;
    float: left;
    margin-right: 1.77515%;
    margin-bottom: 1.5em;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .spotlight .soptlight_item_2 {
    width: 49.11243%;
    float: right;
    margin-right: 0;
    margin-bottom: 1.5em;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.spotlight h3 {
  padding-left: 20px;
  padding-bottom: 20px;
  font-weight: 300;
}
@media (min-width: 851px) {
  .spotlight {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    width: 32.54902%;
    float: left;
    margin-right: 1.17647%;
    margin-bottom: 0.75em;
  }
  .spotlight .soptlight_item_1, .spotlight .soptlight_item_2 {
    margin-bottom: 1.5em;
    padding: 0 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.spotlight h3 {
  padding-left: 30px;
  padding-bottom: 20px;
  font-weight: 100;
  margin-bottom: 8px;
}

.spotlight h3, .product_item h3 {
  font-size: 30px;
  color: #b81a35;
  font-weight: 100;
}

/*==[product_item]== */
.product_item {
  margin-bottom: 1.5em;
}
@media (max-width: 550px) {
  .product_item {
    max-width: 504px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: left;
    margin-right: 2.38095%;
    margin-bottom: 0.75em;
  }
  .product_item:after {
    content: "";
    display: table;
    clear: both;
  }
  .product_item .product_show {
    width: 100%;
    float: left;
    margin-right: 2.38095%;
    margin-bottom: 2.25em;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .product_item .product_show:nth-child(2n) {
    float: right;
    margin-right: 0;
  }
  .product_item h3 {
    display: block;
    margin-bottom: 10px;
    margin-left: 25px;
  }
}
@media (min-width: 551px) and (max-width: 850px) {
  .product_item {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    width: 100%;
    float: left;
    margin-right: 1.77515%;
    margin-right: -100%;
    margin-bottom: 0.75em;
  }
  .product_item:nth-child(1n + 1) {
    margin-left: 0%;
    clear: left;
  }
  .product_item .product_show {
    width: 49.11243%;
    float: left;
    margin-right: 1.77515%;
    margin-bottom: 2.25em;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .product_item .product_show:nth-child(2n) {
    float: right;
    margin-right: 0;
  }
  .product_item h3 {
    margin-left: 20px;
    float: left;
  }
}
@media (min-width: 851px) {
  .product_item {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    width: 66.27451%;
    float: left;
    margin-right: 1.17647%;
    margin-right: -100%;
    margin-left: 0%;
    margin-bottom: 0.75em;
  }
  .product_item .product_show {
    width: 49.41176%;
    float: left;
    margin-right: 1.17647%;
    margin-bottom: 2.25em;
    padding: 0 10px 0 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .product_item .product_show:nth-child(2n) {
    float: right;
    margin-right: 0;
  }
  .product_item h3 {
    float: left;
  }
}

@media (max-width: 550px) {
  .product_sort {
    max-width: 504px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: left;
    margin-right: 2.38095%;
  }
  .product_sort:after {
    content: "";
    display: table;
    clear: both;
  }
  .product_sort a {
    color: black;
    margin-right: 20px;
    float: right;
    margin-bottom: 30px;
  }
}
@media (min-width: 551px) and (max-width: 850px) {
  .product_sort {
    max-width: 676px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 61.83432%;
    float: right;
    margin-right: 0;
    margin-right: 15px;
  }
  .product_sort:after {
    content: "";
    display: table;
    clear: both;
  }
  .product_sort a {
    color: black;
    margin-left: 18px;
    float: right;
    margin-bottom: 30px;
  }
}
@media (min-width: 851px) {
  .product_sort {
    max-width: 1020px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 66.27451%;
    float: right;
    margin-right: 0;
    margin-right: 15px;
  }
  .product_sort:after {
    content: "";
    display: table;
    clear: both;
  }
  .product_sort a {
    color: black;
    margin-left: 18px;
    float: right;
    margin-bottom: 30px;
  }
}

.product_show img {
  float: left;
  margin-right: 10px;
}

.product_show h4 {
  font-size: 16px;
  margin-bottom: 8px;
  line-height: 18px;
  margin-left: 118px;
  font-weight: 800;
}

.product_show p {
  font-size: 14px;
  line-height: 19px;
  margin-left: 118px;
  margin-bottom: 10px;
}

.product_show a {
  color: #b81a35;
}

/*==[Popular Downloads]== */
.downloads {
  margin-bottom: 1.5em;
}
@media (max-width: 550px) {
  .downloads {
    max-width: 504px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: left;
    margin-right: 2.38095%;
    margin-bottom: 0.75em;
    padding: 0 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .downloads:after {
    content: "";
    display: table;
    clear: both;
  }
  .downloads .download_a, .downloads .download_b {
    width: 100%;
    float: left;
    margin-right: 2.38095%;
  }
}
@media (min-width: 551px) and (max-width: 850px) {
  .downloads {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    width: 100%;
    float: left;
    margin-right: 1.77515%;
    margin-bottom: 0.75em;
    padding: 0 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .downloads .download_a {
    width: 49.11243%;
    float: left;
    margin-right: 1.77515%;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .downloads .download_b {
    width: 49.11243%;
    float: right;
    margin-right: 0;
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media (min-width: 851px) {
  .downloads {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    width: 32.54902%;
    float: left;
    margin-right: 1.17647%;
    margin-bottom: 0.75em;
    padding-right: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .downloads .download_a, .downloads .download_b {
    width: 100%;
    float: left;
    margin-right: 1.17647%;
    padding-left: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .downloads h3 {
    padding-left: 30px;
  }
}

.download_a ul li a, .download_b ul li a {
  display: block;
  color: #555555;
  line-height: 50px;
  border-bottom: 1px dotted #999999;
}

.all a {
  display: block;
  color: #b81a35;
  line-height: 45px;
}

.downloads h3 {
  font-size: 30px;
  color: #b81a35;
  margin-bottom: 8px;
  font-weight: 100;
}

/*==[software_update]== */
@media (max-width: 550px) {
  .software_update {
    max-width: 504px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px #cccccc;
    padding: 20px;
    margin: 20px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 0.75em;
  }
  .software_update:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 850px) {
  .software_update {
    max-width: 676px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    border: solid 2px #cccccc;
    padding: 20px;
    margin: 20px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 0.75em;
  }
  .software_update:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 851px) {
  .software_update {
    max-width: 1020px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    width: 91.56863%;
    float: left;
    margin-right: 1.17647%;
    border: solid 2px #cccccc;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 20px;
  }
  .software_update:after {
    content: "";
    display: table;
    clear: both;
  }
}
.software_update img {
  float: left;
  margin-right: 10px;
}
.software_update h6 {
  line-height: 40px;
  color: #b81a35;
  font-size: 20px;
  margin-bottom: 10px;
}
.software_update p {
  color: #333333;
  font-size: 14px;
  line-height: 22px;
}
.software_update a {
  color: #b81a35;
}

/*==[foursection]== */
.foursection {
  background-color: white;
  margin-bottom: 1.5em;
}
@media (max-width: 550px) {
  .foursection {
    max-width: 504px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: left;
    margin-right: 2.38095%;
    margin-bottom: 0.75em;
  }
  .foursection:after {
    content: "";
    display: table;
    clear: both;
  }
  .foursection .section {
    width: 100%;
    float: left;
    margin-right: 2.38095%;
    margin-bottom: 1.5em;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .foursection .section h3 {
    font-size: 30px;
    font-weight: 100;
    color: #b81a35;
    margin-bottom: 25px;
  }
  .foursection .section p {
    font-size: 14px;
    line-height: 21px;
  }
}
@media (min-width: 551px) and (max-width: 850px) {
  .foursection {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    width: 100%;
    float: left;
    margin-right: 1.77515%;
    margin-right: -100%;
    margin-bottom: 0.75em;
  }
  .foursection:nth-child(1n + 1) {
    margin-left: 0%;
    clear: left;
  }
  .foursection .section {
    width: 49.11243%;
    float: left;
    margin-right: 1.77515%;
    margin-bottom: 1.5em;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .foursection .section:nth-child(2n) {
    float: right;
    margin-right: 0;
  }
  .foursection .section h3 {
    font-size: 30px;
    font-weight: 100;
    color: #b81a35;
    margin-bottom: 25px;
  }
  .foursection .section p {
    font-size: 14px;
    line-height: 21px;
  }
}
@media (min-width: 851px) {
  .foursection {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    width: 66.27451%;
    float: left;
    margin-right: 1.17647%;
    margin-right: -100%;
    margin-left: 0%;
    margin-bottom: 0.75em;
  }
  .foursection .section {
    width: 49.41176%;
    float: left;
    margin-right: 1.17647%;
    margin-bottom: 2.25em;
    padding-right: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .foursection .section:nth-child(2n) {
    float: right;
    margin-right: 0;
  }
  .foursection .section h3 {
    font-size: 30px;
    font-weight: 100;
    color: #b81a35;
    margin-bottom: 25px;
  }
  .foursection .section p {
    font-size: 14px;
    line-height: 21px;
  }
}
.foursection h4 {
  font-size: 16px;
  font-weight: 800;
}

.section img {
  margin-bottom: 10px;
}

.section_go a {
  display: block;
  margin-top: 5px;
  color: #b81a35;
  font-size: 14px;
}

/*==[follow]== */
.follow {
  width: 100%;
  padding: 25px 0;
  background-image: url("../img/follow_section_bg.png");
}

@media (max-width: 550px) {
  .follow_content {
    max-width: 504px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .follow_content:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 850px) {
  .follow_content {
    max-width: 676px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .follow_content:after {
    content: "";
    display: table;
    clear: both;
  }
}
.follow_content h3 {
  padding-left: 20px;
}
@media (min-width: 851px) {
  .follow_content {
    max-width: 1020px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .follow_content:after {
    content: "";
    display: table;
    clear: both;
  }
}

.follow_content h3 {
  font-size: 30px;
  color: white;
  font-weight: 100;
  margin-bottom: 20px;
}

.follow_a {
  color: white;
  background-image: url("../img/follow_bg.png");
}
@media (max-width: 550px) {
  .follow_a {
    max-width: 504px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: left;
    margin-right: 2.38095%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 15px;
  }
  .follow_a:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 850px) {
  .follow_a {
    max-width: 676px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 49.11243%;
    float: left;
    margin-right: 1.77515%;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .follow_a:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 851px) {
  .follow_a {
    max-width: 1020px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 49.41176%;
    float: left;
    margin-right: 1.17647%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
  }
  .follow_a:after {
    content: "";
    display: table;
    clear: both;
  }
}

.follow_b {
  color: white;
  background-image: url("../img/follow_bg.png");
}
@media (max-width: 550px) {
  .follow_b {
    max-width: 504px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    float: left;
    margin-right: 2.38095%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 15px;
  }
  .follow_b:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 850px) {
  .follow_b {
    max-width: 676px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 49.11243%;
    float: right;
    margin-right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
  }
  .follow_b:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 851px) {
  .follow_b {
    max-width: 1020px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 49.41176%;
    float: right;
    margin-right: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
  }
  .follow_b:after {
    content: "";
    display: table;
    clear: both;
  }
}

.follow_a img, .follow_b img {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.follow_a p, .follow_b p {
  color: white;
  font-size: 14px;
  line-height: 23px;
}

.follow_a a, .follow_b a {
  color: #b81a35;
}

/*==[footer]== */
.footer_wrapper {
  width: 100%;
  background-color: #e2e2e2;
  padding-top: 40px;
  padding-bottom: 30px;
}

@media (max-width: 550px) {
  .footer_content {
    max-width: 504px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .footer_content:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 850px) {
  .footer_content {
    max-width: 676px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .footer_content:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 851px) {
  .footer_content {
    max-width: 1020px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .footer_content:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (max-width: 550px) {
  .footer_a {
    max-width: 504px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 48.80952%;
    float: left;
    margin-right: 2.38095%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .footer_a:after {
    content: "";
    display: table;
    clear: both;
  }
  .footer_a:nth-child(2n) {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 551px) and (max-width: 850px) {
  .footer_a {
    max-width: 676px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 49.11243%;
    float: left;
    margin-right: 1.77515%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .footer_a:after {
    content: "";
    display: table;
    clear: both;
  }
  .footer_a:nth-child(2n) {
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 851px) {
  .footer_a {
    max-width: 1020px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 24.11765%;
    float: left;
    margin-right: 1.17647%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  .footer_a:after {
    content: "";
    display: table;
    clear: both;
  }
  .footer_a:nth-child(4n) {
    float: right;
    margin-right: 0;
  }
}
.footer_a h4 {
  font-size: 15px;
  color: black;
}
.footer_a ul {
  margin-bottom: 20px;
}
.footer_a ul li a {
  font-size: 14px;
  color: #555555;
  line-height: 28px;
}

.foot_bottomtext {
  font-size: 13px;
  margin-top: 30px;
}
@media (max-width: 550px) {
  .foot_bottomtext {
    max-width: 504px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .foot_bottomtext:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 551px) and (max-width: 850px) {
  .foot_bottomtext {
    max-width: 676px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
  }
  .foot_bottomtext:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media (min-width: 851px) {
  .foot_bottomtext {
    max-width: 1020px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 74.70588%;
    float: left;
    margin-right: 1.17647%;
    margin-right: -100%;
    margin-left: 25.29412%;
  }
  .foot_bottomtext:after {
    content: "";
    display: table;
    clear: both;
  }
}
.foot_bottomtext ul li a {
  display: block;
  float: left;
  padding: 0 30px 0 0;
  font-size: 14px;
  color: black;
}
.foot_bottomtext a:hover {
  color: #f88000;
}
.foot_bottomtext p {
  display: block;
  float: left;
  color: black;
}
