@charset "utf-8";
/* CSS Document */

@import url("reset.css");


.wrapper{
	width:350px;
	margin:0 auto;
	border:#999 3px solid;
	background-image:url(img/blockui_bg.png);}
	
.wrapper table{
	margin:0 auto;
}


.frame{ }
.frame td {}
.frame tr {
	font-size:13px;
	color:#666;
	border-bottom:#666 1px dotted;
	color:#FFF;}
	
.frame tr a{
	color:#0CF;
	font-size:13px;
	text-decoration:none;
	}
.frame tr a:hover{
	color:#3FF;
	}