@charset "utf-8";
/* CSS Document */

@import url("reset.css");

body{
	background-image:url(../images/bg_02.png);
	background-repeat:repeat-x;}
	
.top_wrapper{
	width:1100px;
	height:129px;
	margin:0 auto;
	background-image:url(../images/city.png);
	position:relative;}
	
	
.top_link{
	position:absolute;
	width:400px;
	height:21px;
	top: 13px;
	left: 684px;
}
	
.top_link ul{}
.top_link li{}
.top_link li a{
	display:block;
	float:left;
	margin-right:10px;
	text-decoration:none;
	font-size:13px;}
.top_link li a:hover{
	color:#C00;}	
		
.top_link_line{
	width:2px;
	height:15px;
	float:left;
	margin-right:10px;
	background-color:#CCC;
	} 
	
	
.top_logo{
	position:absolute;
	width: 287px;
	height: 92px;
	top: 33px;
	left: 20px;
} 
	
	
	
.top_function{
	position:absolute;
	width: 779px;
	height: 63px;
	left: 314px;
	top: 53px;

} 	
	
	
	
	
/*===========[menu]===========*/	
	
.menu_wrapper{
	min-width:1100px;
	behavior: expression(this.style.width=(document.documentElement.offsetWidth<1100)?"1100px":"100%");
	height:54px;
	background-image:url(../images/mmmm.png);
}
	
.menu{
	width:1000px;
	height:54px;
	margin:0 auto;
	background-image:url(../images/www.png);}
	
	
.menu ul{}	
.menu li{}	
.menu li a{
	display:block;
	height:54px;
	float:left;
	color:#FFF;
	font-size:16px;
	text-decoration:none;
	line-height:54px;
	padding-right:14px;
	padding-left:14px;}		
.menu li a:hover{
	background-image:url(../images/mmmm_hover.png);}	
.menu_line{
	width:10px;
	height:54px;
	float:left;
	margin-right:6px;
	margin-left:6px;
	background-image:url(../images/line.png);}
	
	
.menu_home{
	width:45px;
	height:54px;
	float:left;
	margin-right:10px;
	margin-left:10px;
		}
		
.menu_my{
	width:118px;
	height:54px;
	float:left;
	margin-right:10px;
	margin-left:10px;}		
		
	
/*================[body]====================*/

.body_wrapper{
	width:1100px;
	margin:0 auto;}

/*=[left]=*/

.body_left{
	width:280px;
	height:1120px;
	float:left;
	}
	
	
	
.news{
	height:290px;
	background-image:url(../images/news.png);
	background-repeat:no-repeat;
	background-position:bottom;}
.news_title{
	width:260px;
	height:25px;
	margin:0 auto;
	padding-bottom:6px;
	}
.news_title td{
	color:#600;
	font-size:15px;
	font-weight:bold;
}	
.news a{
	display:block;
	width:215px;
	line-height:18px;
	margin:0 auto;
	font-size:13px;
	margin-bottom:8px;
	border-bottom:#CCC 1px dotted;
	padding-left:25px;
	text-decoration:none;
	color:#666;
	background-image:url(../images/newsicon.png);
	background-repeat:no-repeat;
	padding-bottom:3px;}


.news a:hover{
	text-decoration:underline;
	color:#036;}
	
	
/*=[right]=*/
.body_right{
	width:800px;
	float:right;
	}


.hot_wrapper{
	height:395px;
}

.hot_title{
	height:30px;}
.hot_title td{
	font-size:23px;
	font-weight:bold;
	font-family:Georgia, "Times New Roman", Times, serif;}

/*==[2012/2/21]==*/
.hot_box{
	width:368px;
	float:left;
	margin-right:10px;
	padding:10px;
	margin-bottom:10px;}
	
.hot_box:hover{
	width:368px;
	height:90px;
	border:#CCC solid 1px;
	background-color:#F1F9FA;
	padding:9px;
	background-image:url(../images/slash_bg.gif);
	
	}
	
.hot_box img{
	float:left;
	margin-right:10px;
	}

.hot_box a{
	font-size:18px;
	color:#603;
	margin-bottom:5px;
	text-decoration:none;}
.hot_box h1{
	font-size:18px;
	color:#603;
	margin-bottom:5px;}


.hot_box p{
	display:block;
	height:37px;
	font-size:13px;
	color:#666;
	line-height:18px;
	margin-bottom:8px;
	overflow:hidden;}
/**/
	
	
.hot_box_line{
	height:1px;
	background-color:#F0F0F0;
	margin-bottom:10px;
	clear:both;
	}
	



.brand_wrapper{
	height:160px;}
	
/*=[left]=*/
.brand_wrapper_left{
	width:390px;
	float:left;
	}
.brand_wrapper_left td{
	font-size:20px;
	font-weight:bold;
	color:#333;
	font-family:Georgia, "Times New Roman", Times, serif;}	

.brand_wrapper_left_box{
	background-color:#9C0;
	padding:10px;
	height:100px;}	
	
	.brand_wrapper_left_box img{
	float:left;
	margin-right:10px;
	}
.brand_wrapper_left_box a{
	font-size:19px;
	color:#FF0;
	margin-bottom:5px;
	text-decoration:none;}
.brand_wrapper_left_box h1{
	font-size:19px;
	color:#CF0;
	margin-bottom:5px;}
.brand_wrapper_left_box p{
	font-size:13px;
	color:#FFF;
	line-height:18px;
	margin-bottom:5px;}
	
.brand_box_left_title{
	height:30px;
	margin-bottom:5px;
	}	
	
	


/*=[right]=*/

.brand_wrapper_right{
	width:390px;
	float:right;
	}
.brand_wrapper_right td{
	font-size:20px;
	font-weight:bold;
	color:#333;
	font-family:Georgia, "Times New Roman", Times, serif;}	

.brand_wrapper_right_box{
	background-color:#09C;
	padding:10px;
	height:100px;}	
	
.brand_wrapper_right_box img{
	float:left;
	margin-right:10px;
	}
.brand_wrapper_right_box a{
	font-size:19px;
	color:#FF0;
	margin-bottom:5px;
	text-decoration:none;}
.brand_wrapper_right_box h1{
	font-size:19px;
	color:#CF0;
	margin-bottom:5px;}
.brand_wrapper_right_box p{
	font-size:13px;
	color:#FFF;
	line-height:18px;
	margin-bottom:5px;}
	
.brand_box_right_title{
	height:30px;
	margin-bottom:5px;
	}	
	
	
/*=[newchannel]=*/

.newch{
	}

.newch_title{
	height:30px;
	}
.newch_title td{
	font-size:20px;
	font-weight:bold;
	color:#333;
	font-family:Georgia, "Times New Roman", Times, serif;}	

.newch_title_go{
	height:125px;
	background-image:url(../images/kkk.png);
	padding:10px;
	border:#999 1px solid;}
	
.newch_title_box{
	width:105px;
	height:130px;
	float:left;
	margin-left:9px;
	margin-right:9px;
	text-align:center;
	font-size:13px;
	line-height:16px;
	color:#666;
	
	}
.newch_title_box img{
	display:block;
	margin:0 auto;
	margin-bottom:3px;
	}
.newch_arrow{
	width:20px;
	height:125px;
	float:left;
	}
		

/*=[classify]=*/

.classify_wrapper{
	}

.classify_wrapper_top{
	height:50px;
	padding-top:3px;
	background-image:url(../images/classiify_01.png);}
.classify_wrapper_middle{
	background-image:url(../images/classiify_02.png);
	}
.classify_wrapper_bottom{
	background-image:url(../images/classiify_05.png);
	height:10px;
	background-position:bottom;}




	
	
.classify_left{
	width:126px;
	float:left;
	margin-left:13px;
	border-right:dotted 1px #999;
	margin-top:10px;
	}

.classify_right{
	width:115px;
	float:left;
	margin-left:7px;
	margin-top:10px;
	}
	
.classify_box{
	height:25px;
	margin-bottom:8px;
	
}

.classify_box a{
	font-size:15px;
	text-decoration:none;
	font-weight:normal;
}

.classify_box a:hover{
	text-decoration:underline;
	color:#069;
	}


.goofkang{
	margin-bottom:5px;
	/*border:1px solid #CCC;
	background-color:#F3F3F3;*/}

.goofkang a{
	display:block;
	width:233px;
	margin:0 auto;
	font-size:13px;
	padding-top:5px;
	padding-left:20px;
	padding-bottom:2px;
	line-height:18px;
	text-decoration:none;
	background-image:url(../images/arrow3333.png);
	background-repeat:no-repeat;
	border-bottom:#CCC 1px dotted;
}

.goofkang a:hover{
	text-decoration:underline;
	}

.topten{
	background-image:url(../images/topten.jpg);
	padding-top:8px;
	}
.frame_topten{ }
.frame_topten td {}
.frame_topten tr {border-bottom:1px dotted #999;
font-size:13px;

}
.frame_topten a {
font-size:12px; 
color:#666;
text-decoration:none;
}
.frame_topten a:hover {
	color:#600;
}

.frame_topten th {}

.more{
	width:260px;
	margin:0 auto;
	border-bottom:#999 2px solid;}

/*=[footer]=*/

.footer_wrapper{
	min-width:1100px;
	behavior: expression(this.style.width=(document.documentElement.offsetWidth<1100)?"1100px":"100%");
	height:125px;
	background-color:#666;
	background-image:url(../images/footer.png);
	}
.footer_wrapper table{
	margin:0 auto;}

.footer_wrapper td{
	font-size:12px;
	color:#FFF;
	line-height:21px;}
.clear{clear:both;}



/*===[knowus]===*/

.knowus_wrapper{
	width:1000px;
	margin:0 auto;
		}
	
.knowus_ad{
	height:250px;
	background-color:#9C9;}



.knows_five{
	height:350px;
	padding:0 5px;}
.knows_five_title{
	height:25px;
	padding-bottom:6px;
	}
.knows_five_title td{
	color:#666;
	font-size:19px;
	font-weight:bold;
}	

.knows_five_box{
	width:150px;
	height:310px;
	float:left;
	border:#FFF 1px solid;
	padding:5px 13px;
	margin-left:3px;
	margin-right:3px;}
.knows_five_line{
	width:1px;
	height:320px;
	float:left;
	background-color:#E7E7E7;
	margin-left:3px;
	margin-right:3px;}	
.knows_five_box:hover{
	background-image:url(../images/fivebg.png);
	background-position:bottom;
	background-repeat:repeat-x;
	}	
.knows_five_box img{
	display:block;
	margin:0 auto;
	}
.knows_five_box h1{
	font-size:16px;
	color:#069;
	line-height:24px;
	border-bottom:#CCC 1px dotted;
	margin-bottom:3px;
}

.knows_five_box a{
	font-size:15px;
	color:#069;
	line-height:24px;
	margin-bottom:3px;
	text-decoration:none;
}

.knows_five_box a:hover{
	color:#09F;
}

.knows_five_box p{
	font-size:13px;
	color:#666;
	line-height:20px;
	margin-bottom:8px;
	}



/*==*/
.fivereason{
	width:1000px;
	background-image:url(../images/zu.jpg);
	background-repeat:no-repeat;
	padding-top:8px;
	
	}
.fivereason_title{
	height:30px;
	background-color:#C1D9D9;
	color:#369;
	font-size:17px;
	line-height:30px;	
	padding-left:40px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-weight:bold;
	background-image:url(../images/bricks.png);
	background-repeat:no-repeat;}
.fivereason_left{
	width:460px;
	float:left;
	margin-left:12px;
	padding:10px;}
	

.fivereason_box{
	height:110px;
	padding:8px;
	margin-bottom:15px;
		}
.fivereason_box:hover{
	background-image:url(../images/oooh.png);
	background-repeat:no-repeat;

}
.fivereason_box table{
	}
.fivereason_box tr{
	border-bottom:#330 1px dotted;
	}
.fivereason_box td{
	font-size:17px;
	font-weight:bold;
	color:#630;
	line-height:20px;
	}

.fivereason_box p{
	font-size:15px;
	color:#666;
	line-height:24px;
}



/*=========[channels]========*/

.body_layer{
	height:40px;
	margin-top:10px;
	margin-bottom:5px;
}


.body_layer ul{
	}
.body_layer li{}
.body_layer li a{
	display:block;
	float:left;
	height:30px;
	line-height:30px;
	padding:0 8px;
	font-size:13px;
	color:#333;
	margin-right:8px;
	text-decoration:none;
	border:#999 1px solid;}
.body_layer li a:hover{
	border:#999 1px solid;
	background-color:#333;
	color:#FFF;
	}

.body_location{
	height:20px;
	font-size:12px;
	color:#666;
	line-height:20px;
	}
.body_location a{
	height:20px;
	font-size:12px;
	color:#06C;
	line-height:20px;}
.body_location a:hover{
	color:#09F;}



.body_channels{
	width:800px;
	float:right;
	}
	
.channels_box{
	min-height:90px;
  	height:auto !important;
 	height:90px;
	padding:12px;
	border-bottom:#CCC 1px dotted;
	margin-bottom:10px;
	position:relative;
		}
.channels_box_count{
	position:absolute;
	height:20px;
	background-image:url(../images/count.png);
	font-size:13px;
	font-weight:bold;
	line-height:23px;
	text-align:center;
	color:#FFF;
	font-family:"Lucida Console", Monaco, monospace;
	padding:0 5px;
	left: 8px;
	top: 86px;
	}


.channels_box:hover{
	background-image:url(../images/slash_bg3.png);}
	
.channels_box img{
	float:left;
	margin-right:10px;
	}
	
.channels_box h1{
	font-size:16px;
	line-height:21px;
	color:#408080;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin-bottom:3px;
	margin-left:105px;
	}	
	
.channels_box a{
	font-size:16px;
	line-height:21px;
	color:#408080;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin-bottom:3px;
	text-decoration:none;
	}	
	
.channels_box a:hover{
	text-decoration:underline;
	color:#369;

	}	
	
	
.channels_box p{
	font-size:13px;
	color:#666;
	line-height:20px;
	font-family:"Courier New", Courier, monospace;
	margin-left:105px;
	margin-bottom:5px;}	
	
.channels_box table{
	margin-left:105px;}
.channels_box td{
	font-size:12px;
	line-height:23px;
	color:#999;
	font-family:"Courier New", Courier, monospace;
	margin-bottom:3px;
	margin-left:105px;}


.channels_box_group{
	width:660px;
	height:26px;
	}
	

.channels_page{
	height:22px;
	margin:0 auto;
	}
	
.channels_page ul{
	}
.channels_page li{
	}	
.channels_page li a{
	display:block;
	width:20px;
	height:20px;
	float:left;
	text-align:center;
	text-decoration:none;
	border:#CCC 1px solid;
	line-height:20px;
	font-size:12px;
	margin-left:8px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#666;
	}	
.channels_page li a:hover{
	color:#CCC;
	background-color:#333;
	}	
	
.channels_page_exist{
	width:20px;
	height:20px;
	float:left;
	text-align:center;
	text-decoration:none;
	border:#CCC 1px solid;
	line-height:20px;
	font-size:12px;
	margin-left:8px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#FFF;
	background-color:#666;
	}
	
	
/*===[2012/2/15]====*/
	
.channels_go_info_count{
	height:25px;
	line-height:23px;
	font-size:13px;
	color:#666;
	font-weight:bold;
	font-family:Georgia, "Times New Roman", Times, serif;}
	
.channels_go_info{
	border:#999 3px solid;
	padding:18px;
	}

.channels_go_info a{
	font-size:16px;
	color:#09C;
	}
.frame_channel{ pddding:5px;}
.frame_channel td {
	border-bottom:1px dotted #999;
	font-size:15px;
	color:#666;
	line-height:23px;
	padding:5px;}
.frame_channel tr {}


.frame_xd{ pddding:5px;}
.frame_xd td {
	font-size:13px;
	color:#999;
	line-height:24px;
	padding:5px;}
.frame_xd tr {}
.frame_xd a{
	font-size:13px;
	color:#069;}
	

.channels_message_box{
	padding:10px 20px 10px 10px;
	margin-bottom:20px;	
	}
.channels_message_box p{
	margin-left:35px;
	line-height:21px;
	color:#666;
	font-family:"MS Serif", "New York", serif;
	font-size:13px;
	border-bottom:#666 1px dotted;
	margin-bottom:5px;
	padding-bottom:3px;
}
.channels_message_box h6{
	font-size:13px;
	text-align:right;
	font-weight:lighter;
	color:#369;
	font-family:Verdana, Geneva, sans-serif
	
}
.channels_message_box img{
	float:left;
}
		
	
.channels_search{
	height:34px;
	background-color:#666;
	margin-bottom:10px;
	}	

.frame_push{ pddding:5px;
}
.frame_push td {
	font-size:13px;
	color:#666;
	line-height:24px;
	padding:6px;
	border-bottom:#666 1px dotted;}



/*===[2012/2/16 hotstar]===*/


.hotstar_brand{
	width:1000px;
	height:260px;
	margin:0 auto;
	background-image:url(../images/A_index_11.png);
	}

.hotstar_wrapper{
	width:1000px;
	margin:0 auto;
	 }
	
.hotstar_left{
	width:600px;
	float:left;
	
	 }
	 
.hotstar_left_title{
	height:35px;
	margin-bottom:13px;
	border-bottom:#CCC 1px dotted;
}

.hotstar_left_title table{
	float:left;
}


.hotstar_left_title th{
	font-size:21px;
	color:#C30;
}	
.hotstar_left_title ul{
	}
.hotstar_left_title li{} 
.hotstar_left_title li a{
	display:block;
	float:left;
	height:20px;
	line-height:20px;
	padding:0 5px;
	margin-top:8px;
	border:#CCC 1px solid;
	margin-right:8px;
	text-decoration:none;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;} 
.hotstar_left_title li a:hover{
	background-color:#333;
	color:#FFF;
	} 
		 
.hotstar_left_cool{
	border:#999 2px solid;
	padding:12px;
	background-image:url(../images/slash_bg2.jpg);}
	
.hotstar_left_cool img{
	float:left;
	margin-right:10px;
	}
	
.hotstar_left_cool h1{
	font-size:17px;
	color::#333;
	line-height:25px;
}	
.hotstar_left_cool p{
	font-size:15px;
	color:#666;
	line-height:26px;
	margin-left:105px;
	margin-bottom:5px;
}	

.hotstar_left_cool table{
	margin-left:105px;
}	
.hotstar_right{
	width:380px;
	float:right;
	
	 }
.hotstar_right p{
	font-size:13px;
	color:#666;
	line-height:23px;
	margin-top:50px;
	 }

.hotstar_explain{
	width:970px;
	margin:0 auto;
	padding:25px;
	background-color:#EBEBEB;}
.hotstar_explain table{
	margin-bottom:10px;}
.hotstar_explain th{
	font-size:21px;
	color:#C30;}
.hotstar_explain p{
	font-size:15px;
	color:#666;
	line-height:26px;
	text-indent:40px;}




.hotstar_stars{
	width:1000px;
	margin:0 auto;
	background-image:url(../images/brand_bg.png);
}

.hotstar_stars_title{
	width:1000px;
	margin:0 auto;
	padding:0 15px;
	margin-bottom:10px;
}
.hotstar_stars_title p{
	font-size:15px;
	color:#666;
	line-height:24px;
	}

.hotstar_stars_box{
	width:140px;
	height:205px;
	float:left;
	margin-left:32px;
	margin-bottom:50px;
	padding:18px 10px 0 10px ;
	background-image:url(../images/oooo.png);}

.hotstar_stars_box:hover{
	background-image:url(../images/oooo2.png);}

.hotstar_stars_box img{
	display:block;
	margin:0 auto;
	margin-bottom:7px;}
	
.hotstar_stars_box h1{
	text-align:center;
	color:#C60;
	font-size:16px;
	line-height:20px;
	margin-bottom:3px;}
.hotstar_stars_box p{
	text-align:center;
	color:#666;
	font-size:13px;
	line-height:18px;
	margin-bottom:8px;}
.hotstar_stars_box table{
	margin:0 auto; }
	
	
.hotstar_stars_btn{
	width:1000px;
	height:60px;
	margin:0 auto; }

.hotstar_stars_btn table{
	margin:0 auto; }	
	
	

.hotstar_stars_join{
	width:650px;
	margin:0 auto; 
	border:#CCC 1px solid;
	padding:15px;
	}

.hotstar_stars_join h6{
	font-size:16px;
	padding-bottom:11px;
	margin-left:10px;
	color:#C60;
}

.frame_hh{ }
.frame_hh tr {}
.frame_hh td {padding:5px;
	border-bottom:solid 1px #CCC;
	font-size:15px;
	font-weight:bold;
	color:#666;}

.logoinok{
	width:500px;
	height:402px;
	margin:0 auto;
	background-image:url(../images/loginbox.png);}
.logoinok p{
	font-size:15px;
	color:#666;
	margin-left:95px;
	margin-right:95px;
	line-height:26px;}
.logoinok h1{
	font-size:25px;
	color:#C60;
	}
.logoinok a{
	font-size:15px;
	color:#936
	}


	
/*===[login]===*/

.login_wrapper{
	width:1100px;
	margin:0 auto;}
	
.login_wrapper table{
	margin:0 auto;}

.frame_login{ pddding:5px;}
.frame_login tr {border-bottom:dotted 1px #CCC;
	}
.frame_login td {
	font-size:15px;
	color:#666;
	line-height:24px;
	padding:5px;}

.frame_login td p{
	font-size:12px;
	color:#069;
	line-height:20px;}

.login_right{
	width:650px;
	margin:0 auto;
	border:#999 1px solid;
	background-color:#FFF;
	padding:25px;
	color:#666;
	font-size:13px;
	line-height:21px;
	font-family:"Times New Roman", Times, serif;
		}
		
		
		
		
		
/*===[guide]===*/

.guide_wrapper{
	width:1000px;
	margin:0 auto;}
	
.guide_banner{
	height:180px;
	background-color:#999;}
	
	
.guide_youtube{
	width:500px;
	height:370px;
	float:left;
	background-image:url(../images/movie.png);}
	
.guide_youtube ul{
	margin-top:10px;}
.guide_youtube li{}
.guide_youtube li a{
	display:block;
	float:left;
	font-size:13px;
	height:25px;
	line-height:25px;
	padding:3px 10px;
	margin-left:19px;
	color:#999;
	text-decoration:none;
	background-image:url(../images/w.png);
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	}	
.guide_youtube li a:hover{
	color:#333;
	background-image:url(../images/w2.png);}	
	
.guide_phone{
	height:35px;
	background-image:url(../images/slash_bg3.png);
}


.guide_phone p{
	font-size:15px;
	color:#666;
}
	
.guide_youtube_go{
	width:477px;
	height:285px;
	margin:0 auto;
	}
	
.guide_aloha{
	width:490px;
	height:370px;
	float:right;}
.guide_aloha p{
	font-size:13px;
	color:#666;}
.guide_aloha img{
	display:block;
	margin:0 auto;}

.guide_aloha table{
	margin:0 auto; }
	
.guide_gaigai{
	min-width:1100px;
	behavior: expression(this.style.width=(document.documentElement.offsetWidth<1100)?"1100px":"100%");
	background-image:url(../images/do.jpg);}
.guide_hi{
	width:1000px;
	margin:0 auto; }
	
.guide_box{
	width:270px;
	float:left;
	height:199px;
	margin-right:13px;
	margin-left:13px;
	padding:15px;}
		
.guide_box img{
	float:left;
	margin-right:10px;
	}	
		
		
		
.guide_box h1{
	margin-bottom:40px;
	margin-top:20px;
	font-size:16px;
		}		
		
.guide_box p{
	font-size:15px;
	color:#666;
	line-height:23px;
	margin-bottom:20px;}			

.guide_setting{
	width:810px;
	float:left;
	background-image:url(../images/zu.jpg);
	background-repeat:no-repeat;
	}

.guide_barcode{
	width:175px;
	height:500px;
	float:right;
	background-color:#EFF8F8;
	}
	
.guide_barcode img{
	display:block;
	margin:0 auto;

	}
	
.guide_barcode_box{
	width:220px;
	float:left;
	margin-right:14px;
	margin-left:14px;
	margin-bottom:22px;
	border:#CCC 1px solid;
	padding:10px;}	
	
.guide_barcode_box h1{
	font-size:15px;
	font-weight:100;
	color:#666;
	line-height:23px;
	}
	
.guide_barcode_box h2{
	font-size:18px;
	font-weight:100;
	color:#C60;
	line-height:23px;
	border-bottom:#CCC 1px dotted;
	}	
	
.guide_barcode_box img{
	margin-bottom:10px;
	
	}	

.guide_barcode p{
	font-size:13px;
	color:#666;
	line-height:21px;
	margin-left:8px;
	margin-right:8px;
	border-bottom:#CCC 1px dotted;
	padding-left:12px;
	text-indent:-12px;
	margin-bottom:5px;}
	
.guide_barcode h6{
	display:block;
	height:30px;
	line-height:30px;
	font-size:16px;
	text-align:center;
	color:#CFF;
	background-color:#333;
	}
	
.guide_barcode h5{
	font-size:13px;
	color:#069;
	line-height:21px;
	margin-left:8px;
	margin-right:8px;
	border-bottom:#CCC 1px dotted;
	text-align:center;
	}

	
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
	
